html {
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
img{
    display:block;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Raleway';
    font-weight: 500;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.header {
    background-color: #E1EDE6;
    height: 100px;
    font-family: 'Raleway';
}
.header_flex {
    padding: 0px 100px 0px 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway';
}
.header_flex-name {
    display: flex;
    align-items: center;
}
.header_grid-burger{
    display: none;
}
.header_flex-btn{
    display:none;
}
.header__flex-line{
    background-color: #E1EDE6;
}
.header_flex-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: end;
}
.header_grid-btn {
    display: inline-flex;
    align-items: flex-start;
    border: none;
    background-color: inherit;
    color: #2C2D35;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
.header_grid-btn:hover{
    color: #598D66;
}
.header_grid-btn:focus{
    background-color: #D4E8D9;
    color: #2C2D35;
}
.header_grid-btn:active{
    color: #376B44;
}
.header_grid-imgbtn {
    background-image: url(../img/shopping-cart.svg);
    background-size: contain;
    width: 24px;
    height: 24px;
    border:none;
    background-color: inherit;
}
.header_grid-imgbtn:hover{
    background-image: url(../img/shopping-carthover.svg);
    background-color: inherit;
}
.header_grid-imgbtn:focus{
    background-image: url(../img/shopping-cartfocus.svg);
    background-color: #D4E8D9;
}
.header_grid-imgbtn:active{
    background-image: url(../img/shopping-cartactive.svg);
    background-color: #D4E8D9;
}
.header_flex-h3 {
    color: #598D66;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header_flex-nameimg{
    padding-right: 10px;
}
@media screen and (max-width: 769px){
    .header_flex{
        padding: 0px 20px 0px 20px;
    }
}
@media screen and (max-width: 426px){
    .header_flex{
        flex-direction: column;
        width: 100%;
    }
    .header_flex-grid{
        display: flex;
        width: 100%;
        justify-content:space-between;
    }
    .header_grid-btn{
        display: none;
    }
    .header_grid-burger{
        display: inline;
        background-image: url(../img/List.svg);
        border: none;
        width: 30px;
        height: 30px;
        background-color: inherit;
    }
}
.hero {
}
.hero__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.her__flex-img {
}
.hero__flex-text {
    display: grid;
    padding-left: 15px;
    width: 554px;
    grid-template-columns: repeat(1,1fr);
    gap:20px
}
.hero__flex-texth1 {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 66px */
}
.hero__flex-texth1span{
    color: #598D66;
}
.hero__flex-textp {
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.hero__flex-textbtn {
    border-width: 1px;
    background-color: inherit;
    font-family: Raleway;
    width: 225px;
    height: 65px;
    margin-top: 40px;
    padding: 20px 60px;
    border-color: #598D66;
    color: #598D66;
    font-size: 20px;
}
.hero__flex-textbtn:hover{
    background: #598D66;
    color: #F4F6F5;
}
.hero__flex-textbtn:focus{
    border: 1px solid #598D66;
    background: #D4E8D9;
    color: #598D66;
}
.hero__flex-textbtn:active{
    background: #376B44;
    color: #FFFFFF;
}
@media screen and (max-width:769px){
    .her__flex-img{
        width: 330px;
    }
    .hero__flex-texth1 {
        font-size: 40px;
        line-height: 100%;
    }
}
@media screen and (max-width:426px){
    .hero{
        margin-top: 50px;
    }
    .her__flex-img{
        display: none;
    }
}
.catalog {
    margin-top: 75px;
}
.catalog__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalog__flexh2{
    color: #2C2D35;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}
.catalog__flex-btns {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.catalog__flex-btn {
    border: none;
    background: #D4E8D9;
    border-radius: 20px;
    color: #2C2D35;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 126px;
    height: 43px;
}
.catalog__flex-btn:hover{
    background: #598D66;
    color: #F4F6F5;
}
.catalog__flex-btn:focus{
    border: 2px solid #598D66; 
    background: #D4E8D9;
    color: #2C2D35;
}
.catalog__flex-btn:active{
    background: #376B44;
    color: #F4F6F5;
}
.catalog__grid{
    display: none;
    margin-top: 30px;
}
.catalog__grid.show {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.catalog__grid-item {
    width: 350px;
    height: 730px;
    padding-left: 20px;
    padding-top: 20px;
    background: #E1EDE6;
}
.catalog__grid-img {
    max-width: 100%;
}
.catalog__grid-author {
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 15px;
}
.catalog__grid-name {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}
.catalog__grid-materials {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
}
.catalog__grid-price {
    color: #598D66;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.catalog .hero__flex-textbtn {
    width: 310px;
    height: 65px;
    padding: 20px 60px;
    margin-top:20px
}
@media screen and (max-width: 769px){
    .container{
        width: 690px;
    }
    .catalog__grid-item{
        width: 330px;
    }
    .catalog__grid-img{
        width: 290px;
    }
    .catalog__grid.show {
        grid-template-columns: repeat(2,1fr);
    }
    .catalog__flexh2{
        font-size: 30px;
    }
    .catalog .hero__flex-textbtn {
        width: 250px;
        height: 65px;
        padding: 20px 60px;
        margin-top:20px
    }
    .catalog__grid{
        justify-items: center;
    }
}
@media screen and (max-width:426px) {
    .container{
        width: 290px;
    }
    .catalog__flex{
        flex-direction: column;
        align-items: start;
    }
    .catalog__grid.show {
        grid-template-columns: repeat(1,1fr);
    }
    .catalog__flex{
    }
    .catalog__grid{
        justify-items: center;
    }
    .catalog__grid-item{
        width: 290px;
        height: 640px;
    }
    .catalog__grid-img{
        width: 250px;
    }
    .catalog__flex-btns {
        margin-top: 20px;
        display: grid; /* Установить кнопки в блочный режим */
        width: 100%; /* Занимать всю доступную ширину */
        overflow-x: auto; /* Добавить горизонтальный скролл, если не помещаются */
        white-space: nowrap; /* Запретить перенос текста на следующую строку */
    }
}
.promo {
    background-image: url(../img/promo.jpg);
    height: 574px;
    margin-top: 60px;
}
.promo__flex {
    display: flex;
}
.promo-text{
    width: 540px;
    padding-top: 70px;
}
.promo__flex-img {
    margin-right: 20px;
}
.promo__flex-h3 {
    color: #F4F6F5;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 40px */
}
.promo-h5 {
    margin-top: 30px;
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
.promo-btn {
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    background-color: #EEDB6D;
    color: #2C2D35;
    color: #2C2D35;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 45px;
    width: 257px;
    height: 65px;
}
.promo-btn:hover{
    background: #FAEB97;
}
.promo-btn:focus{
    border: 3px solid #A38314;
    background: #FAEB97;
}
.promo-btn:active{
    background: #D9B949;
}
@media screen and (max-width: 769px) {
    .promo-text{
        width: 640px;
    }
    .promo{
        background-image: url(../img/promo768.jpg);
        height: 502px;
    }
    .promo-btn{
        margin-top: 30px;
        width: 210px;
        height: 60px;
    }
    .promo__flex-img{
        width: 60px;
        height: 60px;
    }
    .promo__flex-h3{
        width: 370px;
        font-size: 30px;
    }
}
@media screen and (max-width:426px){
    .promo-text{    
        width: 290px;
    }
    .promo{
        background-image: url(../img/promo425.png);
        height: 553px;
    }
    .promo-btn{
        margin-top: 14px;
        width: 290px;
        height: 50px;
    }
    .promo__flex-img{
        width: 60px;
        height: 60px;
    }
    .promo__flex-h3{
        font-size: 24px;
    }
    .promo-h5{
        margin-top: 12px;
        font-size: 16px;
    }
}
.team {
    margin-top: 50px;
}
.team__flex {
    display: flex;
}
.team__flex-item{
    margin-top: 120px;
    margin-left: 40px;

}
.team__flex-img {
}
.team__flex-h3 {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}
.team__flex-h4 {
    margin-top: 20px;
    width: 635px;
    color: #2C2D35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.team__grid {
    margin-top: 20px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.team__grid-img {
}
@media screen and (max-width: 769px){
    .team__flex {
        flex-direction: column;
    }
    .team__flex-img {
        width: 510px;
        height: 504px;
    }
    .team__flex-item {
        margin-top: 20px;
        margin-left: 0px;
    }
    .team__flex-h3 {
    }
    .team__flex-h4 {
        width: 690px;
    }
    
}
@media screen and (max-width: 321px){
    .team__flex {
    }
    .team__flex-img {
        width: 290px;
        height: 286px;
    }
    .team__flex-h3 {
        font-size: 24px;
        line-height: 110%;
    }
    .team__flex-h4 {
        width: 290px;
        line-height: 140%; 
        font-size: 16px;
    } 
}
.footer {
    margin-top: 100px;
    background-color:#E1EDE6;;
    height: 168px;
}
.footer__flex {
    padding-top: 23px;
    display: flex;
    flex-direction: row;
}
.footer__flex-other{
    display: flex;

}
.footer__flex-nameall {
    width: 305px;
}
.footer__flex-name {
    display: flex;
    align-items: center;
    width: 305px;
}
.header_flex-nameimg {
}
.footer .header_flex-h3 {
}
.footer__flex-h3 {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer__flex-h4 {
    margin-top: 5px;
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer__flex-reproductionsgrid {
    margin-left: 115px;
}
.footer__flex-new {
    margin-left: 115px;
}
.footer__flex-about {
    margin-left: 115px;
}
.footer__flex-social {
    margin-left: 115px;
}
.footer__flex-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 132px;
}
.footer__flex-gridimg {
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
}
.footer__flex-h5 {
    color: #86928B;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
@media screen and (max-width: 769px){
    .footer__flex{
        flex-direction: column;
    }
    .footer__flex-nameall {
        display: flex;
        flex-direction: row;
        width: 690px;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .footer__flex-reproductionsgrid{
        margin-left: 0px;
    }
    .footer__flex-new{
        margin-left: 60px;
    }
    .footer__flex-about{
        margin-left: 60px;
    }
    .footer__flex-namephone{
        display: flex;
        flex-direction: column;
    }
    .footer__flex-gridimg{
        width: 20px;
        height: 16px;
    }
    .footer{
        width: 768px;
        height: 250px;
    }
}
@media screen and (max-width: 321px){}
